@use "@/styles/partials/variables" as *;

.hero {
	background: linear-gradient(360deg, #cc1e19 0%, #991613 100%);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1rem;
	margin-bottom: 1.5rem;
	color: $color-white;

	&__button {
		border: none;
		background-color: transparent;
		font-family: $font-primary;
		width: max-content;
		cursor: pointer;

		&--begin {
			color: $color-white;
			border: 1px solid $color-white;
			border-radius: 0.75rem;
			padding: 0.25rem 0.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			width: unset;

			&:hover {
				background-color: #e2211c;
				border-color: #e2211c;
			}
		}
	}

	&__icon {
		width: 1rem;
		height: 1rem;

		&--options {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	&__image-container {
		position: relative;
		height: 10rem;
	}

	&__image {
		border-radius: 0.75rem;
	}

	&__title-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 1.125rem;
		font-weight: $font-weight-extrabold;
	}

	&__info {
		margin-top: 0.5rem;
		display: flex;
		gap: 1rem;
		font-size: 0.625rem;
		font-weight: 600;
	}

	&__message {
		display: flex;
		align-items: center;
	}

	&__description {
		margin-top: 1.5rem;
		font-size: 0.875rem;
	}
}
