@use "@/styles/partials/variables" as *;

.titleCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem;
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;

  &__controls-container {
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    gap: 0.5rem;
  }

  &__button {
    border: none;
    background-color: $color-white;
    font-family: $font-primary;
    cursor: pointer;

    &--begin {
      border: 1px solid $color-black;
      border-radius: 0.75rem;
      padding: 0.25rem 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      text-transform: capitalize;

      &:hover {
        background-color: #e2211c;
        border-color: #e2211c;
        color: $color-white;
      }
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;

    &--back {
      width: 1rem;
      height: 1rem;
    }
  }

  &-content {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__image-container {
    height: 8.5rem;
    border: 1px solid $color-black;
    background-color: rgb(224, 221, 221);
  }

  &__title {
    font-family: $font-accent;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: $font-weight-regular;
  }

  &__info {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    font-size: 0.75rem;
  }

  &__message {
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 0.875rem;
  }
}
