@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.testimonialsSection {
  padding: 3.5rem 0rem 4rem;
  margin-top: 1rem;
  background: url("/assets/images/large-S.png"),
    linear-gradient(to bottom, rgba($color-white, 0.7), rgba(#dbdbdb, 1));

  background-size: contain;
  background-position: top 35% left 50%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  @include tablet {
    margin-top: 2rem;
    padding: 5rem 0rem;
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
      gap: 2rem;
    }

    @include desktop {
      margin: 0 auto;
    }
  }

  .testimonialsHeader {
    text-align: center;
    color: $color-red;
  }

  .carousel {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 1rem;

    @include tablet {
      padding: 1rem 1.5rem;
    }
  }

  .testimonialCard {
    box-shadow: 2px 4px 0.825rem rgba($color-black, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    min-width: 16.25rem;
    height: 21.875rem;
    background-color: $color-white;
    border-radius: 0.625rem;

    @include tablet {
      min-width: 25rem;
    }
  }

  .testimonialText {
    line-height: 1.5rem;
    padding: 1.5rem;
    height: 100%;
    max-height: 18.3125rem;
    display: flex;
    align-items: center;

    @include tablet {
      max-height: 17.875rem;
      font-size: 1.125rem;
      line-height: 1.875rem;
    }
  }

  .testimonialImg {
    width: 15%;
    height: auto;

    @include tablet {
      height: 2rem;
      width: auto;
    }
  }

  .testimonialAuthor {
    border-radius: 0 0 0.625rem 0.625rem;
    padding: 1rem 0.5rem;
    background: $color-red;
    font-weight: 600;
    font-size: 1rem;
    color: $color-white;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.5rem;

    @include tablet {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
  }
}

.scrollbar {
  display: none;

  @include tablet {
    display: flex;
    gap: 1.5rem;
  }

  &__button {
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid $color-black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;

    &:hover {
      border-width: 2px;

      .scrollbar__icon {
        transform: translateX(-0.15rem);

        &--right {
          transform: rotate(180deg) translateX(-0.15rem);
        }
      }
    }

    &--disabled {
      opacity: 0.3;
      pointer-events: none;
      border-width: 1.5px;
    }
  }

  &__icon {
    width: 0.75rem;
    height: 0.75rem;

    &--right {
      transform: rotate(180deg);
    }
  }
}
