@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.elements {
	position: relative;
	padding: 8rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $color-red;
	background: linear-gradient(360deg, #cc1e19 0%, #991613 100%);

	@include tablet {
		border-radius: 24px;
		padding: 5rem 9%;
	}

	@include desktop {
		flex-direction: row;
		padding: 95px 130px;
	}

	&__headingCont {
		display: flex;
		justify-content: center;
		@include desktop {
			display: block;
		}
		h2,
		span.bold {
			text-align: center;
			color: $color-white;
			@include desktop {
				text-align: left;
			}
		}
	}

	&__elementsBox {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 25px;
	}

	.workout-description {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		position: relative;
		@include tablet {
			display: flex;
			flex-direction: row;
		}

		.underline {
			border-bottom: 2px solid $color-black;
		}
	}

	&__elementsButton {
		margin-top: 5rem;
		align-self: center;

		&--hideMobile {
			display: none;

			@include desktop {
				display: flex;
			}
		}
		&--hideDesktop {
			@include desktop {
				display: none;
			}
		}
	}

	@include mobile {
		.workout-description {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-top: $padding-medium;
		}
	}

	.element-container2 {
		@include tablet {
			display: block;
			flex-direction: row;
			justify-content: center;
		}
	}

	&__el {
		width: 25%;
		height: 25%;

		@include tablet {
			max-width: 190px;
		}
	}
}
