@use "@/styles/partials/variables" as *;

.card {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem 0.5rem 0;
	background-color: $color-white;

	&:hover {
		.card__button--grab {
			transform: scale(1.2);
		}
	}

	&--active {
		border: 1px solid #e2211c;
		border-radius: 1rem;

		.card__button--grab {
			cursor: grabbing;
		}
	}

	&__button {
		height: max-content;
		background-color: transparent;
		border: none;
		cursor: pointer;

		&--grab {
			cursor: grab;
			touch-action: none;
			padding: 0.5rem;
		}
	}
	&__header {
		flex: 1;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		gap: 0.5rem;
	}

	&__title {
		font-weight: $font-weight-regular;
		font-size: 0.75rem;
		text-transform: capitalize;
	}

	&__thumbnail-container {
		width: 8.375rem;
		height: 4.6875rem;
		position: relative;
		flex-shrink: 0;
	}
	&__thumbnail {
		border-radius: 0.625rem;
		border: 0.5px solid #dbdbdb;
	}
}
