@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heroSection {
    width: 100%;
    max-width: 1440px;
    height: 783px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1440px;
      height: 100%;
      background: url("/assets/images/about-hero-background.png") no-repeat
        center center;
      background-size: cover;
      z-index: 1;
    }
  }

  .experienceSection {
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 100vw;
    padding: $padding-xl $padding-small;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    gap: $mobile-gutter;

    @include tablet {
      flex-direction: row;
      height: fit-content;
      padding: $padding-xl $padding-small;
    }

    @include desktop {
      position: relative;
      padding: $padding-xl;
      max-width: $content-container-maximum;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .experienceContent {
    @include desktop {
      height: 350px;
      width: 100%;
      max-width: 600px;
    }
  }

  .accentImage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 272px;
    height: 337px;
    border-radius: 35px;
    bottom: -125px;

    @include tablet {
      position: revert;
      width: 255px;
      height: 315px;
    }

    @include desktop {
      position: absolute;
      bottom: -200px;
      right: $padding-large;
      width: 491px;
      height: 575px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .featuredImage {
    width: 100%;
    height: 592px;

    @include tablet {
      height: 348px;
    }

    @include tablet {
      height: 592px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    //   max-width: 90rem;
    //   max-height: 200vw;
  }

  .newsImage {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 255px;
    height: 338px;
    //   border-radius: 35px;

    @include desktop {
      width: 38.75rem;
      height: 51.375rem;
    }
  }

  .bioSection {
    display: flex;
    flex-direction: column;
    //   @include desktop {
    //     height: 1000px;
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: center;
    //   }
  }

  .bioContent {
    display: flex;
    flex-direction: column-reverse;
    gap: $mobile-gutter;
    width: 100vw;
    padding: $padding-xl $padding-small;

    @include tablet {
      flex-direction: row;
      gap: $desktop-gutter;
    }

    // @include desktop {
    //   gap: $padding-xl;
    //   width: calc($content-container-maximum - $padding-xl);
    //   display: flex;
    //   flex-direction: row;
    //   align-items: flex-start;
    // }
  }
}
