@use "@/styles/partials/_variables" as *;

.workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__hero {
    width: 100%;
    max-width: 1440px;
    height: 783px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1440px;
      height: 100%;
      background: url("/assets/images/workouts-hero-background.png") no-repeat
        center center;
      background-size: cover;
      z-index: 1;

      /* Dark overlay */
      background-blend-mode: multiply;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__heroTitle {
    width: 90%;
    // max-width: 671px;
    font-family: "Anta";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(48px, 8vw, 96px);
    line-height: 1.2;
    text-transform: uppercase;
    color: $color-white;
    z-index: 2;
  }

  &__whatsSOS {
    // border: 2px solid black;
    width: 100%;
    max-width: $content-container-maximum;
    height: 745px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__whatsSOSContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__cta {
    margin-top: 4.5rem;
  }

  &__formula {
    width: 1392px;
    height: 436px;
    padding: $desktop-gutter * 4;

    background: rgba(239, 239, 239, 0.8);
    /* 3D shadow */
    box-shadow: 0px 6px 13.7px 6px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__formulaTitle {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    font-weight: 300;
    width: 100%;
  }
  &__formulaBold {
    font-weight: 800;
    display: block;
  }
  &__formulaElements {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 50px;
    font-weight: 300;
  }

  &__accordionContainer {
    height: 750px;
    width: 100%;
    max-width: $content-container-maximum;
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  &__accordions {
    justify-self: flex-end;
    // border: 2px solid black;
  }

  &__accordionSubtitle {
    position: absolute;
    width: 732px;
    height: 553px;
    left: -80px;
    top: 100px;
    z-index: -1;

    background: #f9f9f9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    /* Title */

    /* Body 1 */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding-left: $desktop-gutter * 4;
  }

  .boldRed {
    color: $color-primary;
    font-weight: bold;
  }
  &__accordionSubtitleCopy {
    max-width: 300px;
  }
}
