@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.body {
  padding: 3rem $padding-small 5rem;
  transition: all 0.3s ease-in-out;

  @include tablet {
    padding: 4rem 1.5rem;
  }

  @include desktop {
    padding: $padding-xl;
    align-items: center;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: $content-container-maximum;

  @include desktop {
    margin: 0 auto;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  transition: all 0.3s ease-in-out;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.content {
  margin-top: 1rem;
  line-height: 2rem;
  transition: all 0.3s ease-in-out;

  @include tablet {
    line-height: 2.5rem;
    margin-top: 1.5rem;
  }
}

.list {
  padding: 1.5rem 2rem 0rem;

  li {
    padding-bottom: 0.5rem;
    transition: all 0.3s ease-in-out;

    @include tablet {
      padding-bottom: 1rem;
    }
  }
}

a.link,
a.link:visited {
  color: $color-red;
  text-decoration: none;
}
