# ENSURE ALL CODE ADDED TO GITHUB HAS UNIFORM 2 SPACE INDENTATION
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.scss]
indent_size = 2

[*.js]
indent_size = 2

[*.ts]
indent_size = 2

[*.tsx]
indent_size = 2

[*.json]
indent_size = 2
