@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.container {
  @include desktop {
    margin-top: 0;
  }

  &__logo {
    width: 2.75rem;
    height: auto;
    @include desktop {
      display: none;
    }
  }
}

.tab-container {
  background-color: $color-white;
  padding: 0 $padding-small;
  border-bottom: 1px solid #a8a8a8;
  position: sticky;
  top: 0;
  will-change: transform;
  z-index: 900;

  @include tablet {
    padding: 0 1.5rem;
  }
  @include desktop {
    top: 0;
    padding: 4.4375rem 3rem 0;
    margin-left: 7rem;
  }
}

.tab-container::before {
  content: "";
  display: block;
  height: 1rem; // spacing above before stickiness kicks in
}

.tabContent {
  list-style: none;
  display: flex;
  text-transform: capitalize;
  font-size: 0.875rem;
  gap: 1rem;

  @include desktop {
    max-width: $content-container-maximum;
    margin: 0 auto;
  }
}

.tab {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 2px solid $color-white;
  cursor: pointer;
  color: #757575;

  &:focus {
    font-weight: $font-weight-medium;
  }

  &:hover {
    border-color: #757575;
  }

  &--selected {
    font-weight: $font-weight-medium;
    border-color: $color-black;
    color: $color-black;

    &:hover {
      border-color: $color-black;
    }
  }
}

.content {
  @include desktop {
    padding: 0 1.5rem 0 10rem;
    max-width: $content-container-maximum + 13rem;
    margin: 0 auto;
  }
}

.loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 2.25rem;
    height: 2.25rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
}

.error {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: $color-red;

  @include tablet {
    font-size: 1.5rem;
  }
}
