@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.pageContainer {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@include tablet {
		gap: 4rem;
	}

	@include desktop {
		flex-direction: row;
		padding: 1.5rem;
	}
}

.contentArea {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	@include tablet {
		gap: 2.5rem;
	}

	@include desktop {
		flex: 1;
	}
}

.backButton {
	align-self: flex-start;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 1rem 1rem 0.5rem;
	margin-bottom: -1rem;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	font-family: $font-primary;
	font-size: 0.875rem;

	@include tablet {
		font-size: 1rem;
		padding: 1.5rem 1.5rem 1rem;
		margin-bottom: -2rem;
	}

	@include desktop {
		padding-left: 0;
	}
}

.playerContainer {
	width: 100%;
	aspect-ratio: 16 / 9;
	border: solid #b7b4b4;
	border-width: 0.5px 0;

	@include desktop {
		min-width: 50.9375rem;
		border-width: 0.5px;
	}
}

.icon {
	width: 16px;
	height: 16px;

	@include tablet {
		width: 24px;
		height: 24px;
	}

	@include desktop {
		width: 16px;
		height: 16px;
	}
}

.videoDetails {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	gap: 8px;

	@include tablet {
		padding: 0 1.5rem;
	}

	@include desktop {
		gap: 1rem;
		width: 50.9375rem;
	}
}

.playlistTitle {
	font-size: 0.75rem;
	font-weight: 700;
	color: #e2211c;

	@include tablet {
		font-size: 1rem;
	}
}

.activeVideoTitle {
	font-size: 1rem;
	font-weight: 400;
	text-transform: capitalize;

	@include tablet {
		font-size: 1.25rem;
	}
}

.videoDescription {
	font-size: 12px;
	color: #424242;
	line-height: 140%;
	margin-top: -0.25rem;

	@include tablet {
		font-size: 0.875rem;
	}

	@include desktop {
		margin-top: -0.5rem;
	}
}

.bookmarkButton {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.25rem;
}

.playlist {
	padding: 0 0.5rem;

	@include tablet {
		padding: 0 1.5rem;
	}

	@include desktop {
		border: 0.5px solid #b7b4b4;
		border-radius: 0.625rem;
		padding: 1rem 0 1rem;
		margin-top: 72px;
		max-height: 34.375rem;
		overflow: hidden;
	}
}

.videoList {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	@include desktop {
		height: 100%;
		padding-bottom: 2rem;
		overflow-y: scroll;
	}
}

.videoListTitle {
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 1rem;
	padding-left: 0.5rem;

	@include tablet {
		padding-left: 0;
		margin-bottom: 1.25rem;
	}

	@include desktop {
		padding-left: 1rem;
	}
}

.grabButton {
	background-color: transparent;
	border: none;
	cursor: grab;
	touch-action: none;
	padding: 0.5rem;
	display: none;

	@include tablet {
		padding: 1rem;
	}

	@include desktop {
		padding: 0.5rem;
	}
}

.playContainer {
	padding: 0.5rem;
	display: none;

	@include tablet {
		padding: 1rem;
	}

	@include desktop {
		padding: 0.5rem;
	}
}

.positionContainer {
	display: inline-block;
	width: 2rem;
	flex-shrink: 0;
	text-align: center;
	font-size: 0.75rem;

	@include tablet {
		font-size: 0.875rem;
		width: 3.5rem;
	}

	@include desktop {
		font-size: 0.75rem;
		width: 2rem;
	}
}

.thumbnailCard {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0.5rem 0.5rem 0.5rem 0;
	background-color: $color-white;
	border-radius: 1rem;

	&.active {
		border: 1px solid #e2211c;
		background-color: rgba(#e2211c, 0.1);

		.playContainer {
			display: unset;
		}
		.positionContainer {
			display: none;
		}
	}

	&:hover {
		background-color: rgba(#e2211c, 0.1);

		.grabButton {
			display: unset;
		}

		.playContainer,
		.positionContainer {
			display: none;
		}
	}

	@include tablet {
		padding: 1rem 1rem 1rem 0;
	}

	@include desktop {
		border-radius: 0;
		padding: 0.5rem 0.5rem 0.5rem 0;
	}
}

.header {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	flex: 1 1;
}

.thumbnailContainer {
	width: 10rem;
	aspect-ratio: 16 / 9;
	position: relative;
	flex-shrink: 0;
	transition: all 0.3s ease-in-out;

	@include tablet {
		width: 13.5rem;
	}

	@include tablet {
		width: 10rem;
	}
}

.thumbnailImage {
	border-radius: 0.625rem;
	border: 0.5px solid #dbdbdb;
}

.videoTitle {
	font-size: 0.75rem;
	text-transform: capitalize;

	@include tablet {
		font-size: 1rem;
	}

	@include desktop {
		font-size: 0.75rem;
	}
}
