@use "@/styles/partials/mixins" as *;

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	@include tablet {
		flex-direction: row-reverse;
	}

	&--alternate {
		@include tablet {
			flex-direction: row;
		}
	}

	&__info {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		@include tablet {
			gap: 1.5rem;
		}
	}

	&__image {
		width: 11.4375rem;
		height: auto;

		@include tablet {
			width: 14.25rem;
		}

		@include desktop {
			width: 19rem;
		}
	}
}
