@use "@/styles/partials/variables" as *;
@use "@/styles/partials/_mixins" as *;

.container {
  background-color: rgba($color-black, 0.25);
  min-height: calc(100vh - 4.375rem);
  padding: 2rem 1rem;
  margin-bottom: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 4.8438rem);
    margin-bottom: 4.8438rem;
  }

  @include desktop {
    min-height: 100vh;
    margin-bottom: 0;
  }

  &__modal {
    background-color: $color-white;
    border-radius: 0.625rem;
    padding: 2rem 1rem;
    box-shadow: 0 0.25rem 0.625rem rgba($color-black, 0.3);
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;

    @include tablet {
      padding: 2rem 1.5rem;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.description {
  color: #666;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 24rem;
  margin: 0 auto;
}

.fieldset {
  border: none;
}

.legend {
  font-weight: 500;
  color: $color-black;
  margin-bottom: 1rem;
}

.radioGroup {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-direction: column;

  .radioLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #f5f5f5;
    border-radius: 1.25rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    color: $color-black;

    &:hover {
      background-color: #e0e0e0;
    }

    &.checked {
      background-color: $color-red;
      color: $color-white;
    }
  }

  .radioInput {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    &:checked {
      background-color: $color-white;
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cancelButton,
.keepButton {
  @include tablet {
    font-size: 1rem !important;
    padding: 0.375rem 0.625rem !important;
  }
}

.cancelButton {
  span {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
  }

  .icon {
    filter: invert(1);
  }
}

.supportText {
  font-size: 0.9rem;
  line-height: 1.35rem;
  color: #666;
}

.supportLink {
  color: $color-red !important;
  font-weight: bold;

  &:hover {
    text-decoration: underline !important;
  }
}
