@use "@/styles/partials/_variables" as *;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__hero {
    width: 100%;
    max-width: 1440px;
    height: 783px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1440px;
      height: 100%;
      background: url("/assets/images/about-hero-background.png") no-repeat
        center center;
      background-size: cover;
      z-index: 1;
    }
  }

  &__heroTitle {
    width: 90%;
    max-width: 671px;
    font-family: "Anta";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(48px, 8vw, 96px);
    line-height: 1.2;
    text-transform: uppercase;
    color: $color-white;
    z-index: 2;
  }

  &__silkExperience {
    position: relative;
    // border: 2px solid black;
    height: 575px;
    width: 100%;
    max-width: $content-container-maximum;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }

  &__silkExperienceCopy {
    margin-left: $desktop-padding;
    // border: 2px solid black;
    height: 350px;
    width: 100%;
    max-width: 681px;
  }

  &__accentImage {
    position: absolute;
    bottom: -200px;
    right: 0;
    width: 491px;
    height: 575px;
    // border: 2px solid black;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__moreMichael {
    // border: 2px solid black;
    width: 100%;
    max-width: $content-container-maximum;
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__moreMichaelContent {
    gap: $gutter-desktop * 5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
