//styles/partials/_fonts.scss

@use "@/styles/partials/_variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&family=Monomaniac+One&family=Anta&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

// Colors
.text__secondary--color {
  color: $color-secondary;
}

// Font Styles
.h1 {
  font-family: $font-accent;
  font-size: clamp($font-size-h1-mobile, 5vw, $font-size-h1-desktop);
  font-weight: $font-weight-regular;
  line-height: 1.2;
  color: $color-black;
}

.homehero {
  &_title {
    font-family: $font-accent;
    font-weight: $font-weight-regular;
    font-size: clamp($font-size-h1-mobile, 5vw, $font-size-h1-desktop);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
  }

  &_subtitle {
    font-family: $font-primary;
    font-weight: $font-weight-light;
    font-size: clamp(2rem, 4vw, 3.375rem);
    line-height: 1.2;
    letter-spacing: 0.25em;
    text-align: center;
    margin-top: $padding-base;
    color: rgba($color-white, 0.55);
  }
}

.heroTitle {
  width: 90%;
  max-width: 671px;
  font-family: "Anta";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(48px, 8vw, 96px);
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-white;
  z-index: 2;
}

.h2-title {
  font-family: $font-primary;
  font-size: clamp($font-size-h2-mobile, 4vw, $font-size-h2-desktop);
  font-weight: $font-weight-light;
  line-height: clamp(2rem, 4.5vw, 3.625rem);
  color: $color-black;
  padding-bottom: $padding-medium;

  .bold {
    font-weight: $font-weight-extrabold;
  }
}

.h3 {
  font-family: $font-accent;
  font-size: clamp($font-size-h3-mobile, 2vw, $font-size-h3-desktop);
  font-weight: $font-weight-regular;
  line-height: 1.2;
  color: $color-black;
  position: absolute;
  top: $desktop-gutter;
  left: $desktop-gutter * 3;
}

.h3_title {
  font-family: $font-accent;
  font-weight: $font-weight-regular;
  font-size: clamp(1.25rem, 1.8vw, 1.25rem);
  line-height: clamp(1.5rem, 2vw, 1.5rem);
  text-transform: uppercase;
  padding-bottom: $padding-large;
  color: $color-black;

  &--accent {
    color: $color-red;
  }
}

.body1 {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  font-size: clamp(0.9375rem, 1.5vw, 1.25rem);
  line-height: clamp(1.25rem, 2vw, 1.5rem);
  color: $color-black;
  padding-bottom: $padding-base;
}

.body2 {
  font-family: $font-primary;
  font-size: clamp($font-size-body1-mobile, 1.8vw, $font-size-body2-desktop);
  font-weight: $font-weight-regular;
  color: $color-black;
  line-height: clamp(1.25rem, 2vw, 1.5rem);
}

.button {
  font-family: $font-primary;
  font-size: clamp($font-size-button-mobile, 1.5vw, $font-size-button-desktop);
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  color: $button-text-color;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Ensure visited links don't change color */
a:visited {
  color: inherit;
}

/* Remove hover underline */
a:hover {
  text-decoration: none;
}

/* Remove focus outline unless needed for accessibility */
a:focus {
  outline: none;
}

.link {
  font-family: $font-primary;
  font-size: clamp($font-size-body2-mobile, 1.5vw, $font-size-body2-desktop);
  font-weight: $font-weight-regular;
  line-height: clamp(1.25rem, 2vw, 1.5rem);
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

.text-small {
  font-family: $font-primary;
  font-size: 0.875rem;
  text-transform: capitalize;
  color: $color-black;
}

.slogan {
  background: url(/assets/images/dumbbell.png);
  height: 100vh;
  min-height: 25.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  font-size: 5.5rem;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;

  &__message {
    width: max-content;
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);

    &--bottom {
      animation-direction: reverse;
    }
  }

  @keyframes adjust-position {
    /* Start position: shift entire row left, but not so that it goes out of view */
    from {
      transform: translateX(calc(-100% + 100vw));
    }

    /* End position: shift entire row right, but not so that it goes out of view */
    to {
      transform: translateX(calc(100% - 100vw));
    }
  }
}
