//styles/partials/_fonts.scss

@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

// Font Styles
h1.authForm {
  font-size: 2rem !important;
  font-weight: 500 !important;
  padding-bottom: unset !important;

  @include tablet {
    font-size: 3rem !important;
  }
}

.homehero {
  &_title {
    font-weight: $font-weight-regular;
    font-size: $font-size-h1-mobile;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: font-size 0.3s ease-in-out;

    @include tablet {
      font-size: $font-size-h1-desktop;
    }
  }

  &_subtitle {
    font-weight: $font-weight-light;
    font-size: $font-size-h2-mobile;
    line-height: 1.2;
    letter-spacing: 0.25em;
    text-align: center;
    margin-top: $padding-base;
    color: $color-red;
    transition: font-size 0.3s ease-in-out;

    @include tablet {
      font-size: $font-size-h2-desktop;
    }
  }
}

.heroTitle {
  width: 90%;
  max-width: 41.9375rem;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $color-white;
  z-index: 2;
  transition: font-size 0.3s ease-in-out;

  @include tablet {
    font-size: 6rem;
  }
}

.h2-title {
  font-size: $font-size-h2-mobile;
  font-weight: $font-weight-light;
  line-height: 2.5rem;
  color: $color-black;
  padding-bottom: $padding-medium;
  transition: all 0.3s ease-in-out;

  @include tablet {
    font-size: $font-size-h2-desktop;
    line-height: 3.625rem;
  }

  .bold {
    font-weight: $font-weight-extrabold;
  }
}

.h2-title-white {
  @extend .h2-title;
  color: $color-white;
}

.h3_title {
  font-weight: $font-weight-medium;
  font-size: 1rem;
  text-transform: uppercase;
  color: $color-black;
  transition: font-size 0.3s ease-in-out;

  &--accent {
    color: $color-red;
  }

  @include tablet {
    font-size: 1.25rem;
  }
}

.body1 {
  font-weight: $font-weight-regular;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  color: $color-black;
  padding-bottom: $padding-base;
  transition: all 0.3s ease-in-out;

  @include tablet {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.body1-white {
  @extend .body1;
  color: $color-white;
}

.body2 {
  font-size: $font-size-body2-mobile;
  font-weight: $font-weight-regular;
  color: $color-black;
  line-height: 1.75rem;
  transition: all 0.3s ease-in-out;

  @include tablet {
    font-size: $font-size-body2-desktop;
    line-height: 2rem;
  }
}

.link {
  font-size: $font-size-body2-mobile;
  font-weight: $font-weight-regular;
  line-height: 1.75rem;
  color: $link-color;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  @include tablet {
    font-size: $font-size-body2-desktop;
    line-height: 2rem;
  }

  &:hover {
    color: $link-hover-color;
  }

  &--emphasis {
    @extend .link;
    color: $link-hover-color !important;
  }
}
