//styles/partials/_variables.scss
// Font Families
$font-primary: "Lato", sans-serif;
$font-secondary: "Monomaniac One", sans-serif;

// Font Sizes
$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 24px;
$font-size-body1: 32px;
$font-size-body2: 20px;
$font-size-button: 20px;

// Font Weights
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-extrabold: 800;

// Color Palette
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #808080;
$color-red: #b51c24;
// Shades of Grey
$color-grey-light: #d3d3d3;
$color-grey-dark: #505050;

// Utility Colors
$color-primary: $color-red; // Red as primary
$color-secondary: $color-grey; // Grey as secondary
$background-color: #fff;

// Colors for Links
$link-color: #000000;
$link-hover-color: $color-red; // Slightly darker on hover

// Button Colors
$button-border-color: $color-grey-light;
$button-text-color: $color-black;
$button-hover-bg-color: $color-grey-light;
$button-hover-text-color: $color-black;

// Layout and Spacing
$content-container-maximum: 1440px; // Max container width
$gutter-desktop: 16px;

// Padding
$desktop-padding: 1.5rem;

//screen sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
