//styles/partials/_variables.scss
// Font Families
$font-primary: "Montserrat", sans-serif;

// Desktop Font Sizes
$font-size-h1-desktop: 4rem; // 64px
$font-size-h2-desktop: 3rem; // 48px
$font-size-h3-desktop: 1.25rem; // 20px
$font-size-body1-desktop: 2rem; // 32px
$font-size-body2-desktop: 1.25rem; // 20px
$font-size-button-desktop: 1.25rem; // 20px

//Mobile Font Sizes
$font-size-h1-mobile: 3rem; // 48px
$font-size-h2-mobile: 2rem; // 32px
$font-size-h3-mobile: 1rem; // 16px
$font-size-body1-mobile: 1.5rem; // 24px
$font-size-body2-mobile: 1rem; // 16px
$font-size-button-mobile: 1.25rem; // 20px

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-extrabold: 800;

// Color Palette
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #808080;
$color-red: #b21a16;
// Shades of Grey
$color-grey-light: #eae6e6;
$color-grey-dark: #505050;
$color-grey-dark-alt: #5b5b5b;

// Utility Colors
$color-primary: $color-red; // Red as primary
$color-secondary: $color-grey; // Grey as secondary
$background-color: $color-white;

// Colors for Links
$link-color: $color-black;
$link-hover-color: $color-red; // Slightly darker on hover

// Button Colors
$button-border-color: $color-grey-light;
$button-text-color: $color-black;
$button-hover-bg-color: $color-grey-light;
$button-hover-text-color: $color-black;

// Layout and Spacing
$content-container-maximum: 90rem; // 1440px Max container width

// Padding
$padding-base: 0.5rem; // 8px
$padding-small: 1rem; // 16px
$padding-medium: 2rem; // 32px
$padding-large: 3rem; // 48px
$padding-xl: 6rem; // 96px

// Gutter
$desktop-gutter: 1.5rem; // 24px
$mobile-gutter: 1rem; // 16px

//Radius
$radius-1: 2.1875rem;
