@use '@/styles/partials/_variables' as *;

.body {
  padding: 4.5rem 12.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.link {
  text-decoration: none;
  color: $color-black;

  &--accent {
    color: $color-red;
  }

  &:visited {
    font-weight: 600;
  }
}
