@use "@/styles/partials/mixins" as *;

.list {
	margin-bottom: 4rem;
	list-style: none;

	@include tablet {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		row-gap: 2.5rem;
		column-gap: 0.5rem;
		padding: 1.5rem;
	}

	&__item {
		border-bottom: 1px solid #cacaca;
		transition: all 0.3s ease-in-out;

		&:last-child {
			border-bottom: none;
		}

		@include tablet {
			border: none;
			width: 30vw;
			max-width: 20rem;
		}
	}
}
