@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/mixins" as *;

.card {
  background-color: $color-white;
  border-radius: 2.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  color: $color-black;
  max-width: 15.625rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #dbdbdb;
    padding: 1.5rem 1.5rem;
    border-radius: 0 0 2.1875rem 2.1875rem;
  }

  &__title {
    text-transform: capitalize;
    transition: font-size 0.3s ease-in-out;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__description {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  &__button {
    width: 100%;
    text-transform: capitalize;
    font-weight: 400;
  }
}
