@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/mixins" as *;

.priceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 18rem;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  flex-shrink: 0;

  &__header {
    background-color: $color-red;
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem 1.5rem;
    gap: 1.5rem;
    width: 100%;
    border-bottom: 0.5px solid $color-white;
    border-radius: 1.5rem 1.5rem 0 0;
    color: $color-white;
  }

  &__plan {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 2.75rem;
    display: flex;
    align-items: center;
    text-align: center;

    &--small {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 120%;
      margin-left: 0.5rem;
      text-transform: lowercase;
    }
  }

  &__button {
    width: 100%;
    justify-content: space-between;

    @include tablet {
      padding: 0.375rem 0.625rem;
      font-size: 1rem;
    }
  }

  &__includedSection {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 3rem;
    gap: 1rem;
    width: 100%;
    background-color: #ededed;
    color: $color-black;
    border-radius: 0 0 1.5rem 1.5rem;
  }

  &__includedTitle {
    font-weight: 700;
    font-size: 1.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 0;
  }

  &__item {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background: url("/assets/icons/checkmark-red.svg") no-repeat center;
      background-size: contain;
    }
  }
}
