@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.dialog-container {
  position: fixed;
  inset: 0;
  z-index: 2000;
  animation: fadeIn 0.2s forwards ease-out;

  @include tablet {
    position: absolute;
    top: 1.875rem;
    right: 0;
    bottom: unset;
  }

  @keyframes fadeIn {
    from {
      background-color: rgba($color-black, 0);
    }
    to {
      background-color: rgba($color-black, 0.25);
    }
  }
}

.dialog {
  position: fixed;
  right: 0;
  left: 0;
  list-style: none;
  border-radius: 1rem 1rem 0 0;
  background-color: $color-white;
  animation: slideIn 0.3s forwards ease;

  @keyframes slideIn {
    from {
      bottom: -100%;
    }
    to {
      bottom: 0;
    }
  }

  @include tablet {
    position: absolute;
    top: 0;
    left: unset;
    bottom: unset;
    z-index: 2000;
    box-shadow: 0 0 0.625rem 0 rgba($color-black, 0.2);
    border-radius: 1rem;
    animation: unset;
  }

  &__option {
    cursor: pointer;

    &:hover {
      background-color: rgb(223, 222, 222);
    }

    &:first-child {
      border-radius: 1rem 1rem 0 0;
    }

    &:last-child {
      @include tablet {
        border-radius: 0 0 1rem 1rem;
      }
    }

    .tablet {
      display: none;

      @include tablet {
        display: unset;
      }
    }
  }
}

.option__button {
  font-family: $font-primary;
  background-color: transparent;
  border: none;
  padding: $padding-small;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $color-black;
  font-size: 1rem;

  @include tablet {
    padding-right: 2rem;
  }
}
