@use "@/styles/partials/variables" as *;

.list {
	list-style-type: none;
	display: flex;
	gap: 0.5rem;
	padding: 1.5rem 0.5rem 0;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.item {
	font-size: 0.75rem;
	text-transform: capitalize;
	padding: 0.25rem 0.5rem;
	border: 1px solid $color-black;
	border-radius: 1rem;
	min-width: max-content;

	&:hover {
		cursor: pointer;
	}

	&--selected {
		border-width: 2px;
		font-weight: $font-weight-extrabold;
	}
}
