@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-xl 0;
  gap: 24px;
  background: $color-red;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 320px;
  }

  .mainTitle {
    text-align: center;
    color: #ffffff;
    max-width: 250px;
  }

  .priceCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // min-width: 288px;
  }

  @include mobile {
    .container {
      // max-width: 320px;
    }
  }
}
