@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-xl 0;
  gap: 1.5rem;
  background: $color-white;
  color: $color-red;
  width: 100%;
  @include tablet {
    padding: $padding-xl $padding-medium;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 20rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      min-width: 100%;
    }
    @include desktop {
      align-items: center;
      justify-content: center;
    }
  }

  .mainTitle {
    text-align: center;
    color: $color-red;
    max-width: 15.625rem;
    @include tablet {
      text-align: left;
      max-width: 50%;
    }
    @include desktop {
      text-align: left;
      max-width: 35%;
    }
  }

  .priceCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include desktop {
      max-width: 50%;
    }
  }
}
