//styles/globals.scss
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

// Global Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary;
	color: $color-black;
	background-color: $color-white;
	padding-top: 64px; // Match the height of Header
	min-height: 100vh;
	position: relative;
}

:root {
	/* Remove default link styles */
	a {
		text-decoration: none;
		color: inherit;
	}

	/* Ensure visited links don't change color */
	a:visited {
		color: inherit;
	}

	/* Remove hover underline */
	a:hover {
		text-decoration: none;
	}

	/* Remove focus outline unless needed for accessibility */
	a:focus {
		outline: none;
	}
}
