@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.about {
  color: $color-white;
  background-color: $color-red;
  padding: 3rem 1rem;
  text-align: center;

  @include tablet {
    padding: 5rem 1.5rem;
    text-align: left;
  }

  &--wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;

    @include tablet {
      flex-direction: row-reverse;
      align-items: center;
      gap: 5rem;
    }

    @include desktop {
      justify-content: center;
      max-width: $content-container-maximum;
      margin: 0 auto;
    }
  }

  &__imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.75rem;

    @include tablet {
      flex: 0.75;
      max-width: 31.25rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: $radius-1;
    max-width: 25rem;

    @include tablet {
      max-width: unset;
    }
  }

  &__mobileButton {
    @include tablet {
      display: none;
    }
  }

  &__textContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include tablet {
      flex: 1.25;
      max-width: 37.5rem;
    }
  }

  &__info {
    padding-left: 2.5rem;

    @include mobile {
      padding-left: 0;
      text-align: left;
    }
    @include tablet {
      padding-left: 0;
    }
  }

  &__title {
    color: $color-white;
  }

  &__subHeading {
    color: $color-white;
    text-transform: capitalize;
    text-align: center;
    margin: 0;

    @include tablet {
      margin: unset;
      text-align: left;
    }
  }

  &__message {
    color: $color-white;
    text-align: center;
    font-size: 1rem;

    @include tablet {
      text-align: left;
      font-size: 1.25rem;
    }
  }

  &__desktopButton {
    display: none; // Hide on mobile to prevent duplication
    margin-top: $padding-medium;

    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
  }
}
