@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: $padding-large;
  margin-top: $padding-large;

  @include mobile {
    flex-direction: column-reverse;
    padding: $padding-medium;
    align-items: center;
  }

  @include tablet {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: $padding-medium;
  }

  &__imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: $padding-large;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: $radius-1;
  }

  &__mobileButton {
    display: none; // Hidden by default

    @include mobile {
      display: flex;
      justify-content: center;
      margin-top: 1rem; // Space between image and button
    }
  }

  &-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;

    @include mobile {
      gap: 0;
    }
    @include tablet {
      gap: 0;
    }
  }

  &__info {
    padding-left: 2.5rem;

    @include mobile {
      padding-left: 0;
      text-align: left;
    }
    @include tablet {
      padding-left: 0;
    }
  }

  &__subHeading {
    text-transform: capitalize;
    // margin-bottom: 1.5rem;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__desktopButton {
    display: flex;
    justify-content: flex-start;
    margin-top: $padding-medium;

    @include mobile {
      display: none; // Hide on mobile to prevent duplication
    }
  }
}
