@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/mixins" as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	padding-top: 4rem;
	transition: all 0.3s ease-in-out;

	@include desktop {
		padding-top: $padding-xl;
	}
}

.hero {
	width: 100%;
	max-width: 1440px;
	height: 783px;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10%;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1440px;
		height: 100%;
		background: url("/assets/images/workouts-hero-background.png") no-repeat
			center center;
		background-size: cover;
		z-index: 1;

		/* Dark overlay */
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.hero__title {
	width: 90%;
	// max-width: 671px;
	font-family: "Anta";
	font-style: normal;
	font-weight: 400;
	font-size: clamp(48px, 8vw, 96px);
	line-height: 1.2;
	text-transform: uppercase;
	color: $color-white;
	z-index: 2;
}

.element,
.buildWorkout,
.equipment {
	display: flex;
	flex-direction: column;
	padding: 0 $padding-small;
	gap: 4.5rem;
	transition: all 0.3s ease-in-out;

	@include tablet {
		padding: 0 1.5rem;
	}

	@include desktop {
		padding: 0 $padding-xl;
	}
}

.element {
	.content {
		margin-bottom: 1rem;
	}
}

.elementCards,
.instructions,
.equipments {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	@include desktop {
		gap: 4rem;
	}
}

.equipment {
	background-color: rgba(91, 91, 91, 1);
	color: $color-white;
	padding-top: 4rem;
	padding-bottom: 4rem;

	@include desktop {
		padding-top: $padding-xl;
		padding-bottom: $padding-xl;
	}

	&__title {
		color: $color-white;
	}

	&__button {
		align-self: center;
		width: max-content;
	}
}

.equipments {
	align-items: center;

	@include tablet {
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}

	@include tablet {
		gap: 1.5rem;
	}
}
