@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/mixins" as *;

.hero {
  height: 50vh;
  padding: 4rem 1rem 1rem;
  min-height: 12.5rem;
  display: flex;
  align-items: center;
  background: url("/assets/images/workouts-hero-background.png") no-repeat
    center;
  background-size: cover;
  /* Dark overlay */
  background-blend-mode: multiply;
  background-color: rgba($color-black, 0.5);

  @include tablet {
    height: 100vh;
    min-height: 26.875rem;
    padding: 4rem 1.5rem 1.5rem;
  }

  @include desktop {
    padding: $padding-xl;
    min-height: 35rem;
    margin: 0 auto;
  }
}

.hero__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: $color-white;
  transition: all 0.3s ease-in-out;

  @include tablet {
    font-size: 6rem;
  }

  @include desktop {
    width: 90rem;
    margin: 0 auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include tablet {
    gap: 5rem;
  }

  @include desktop {
    gap: 6rem;
  }
}

.element {
  padding: 4rem $padding-small;
  background-color: $color-red;
  color: $color-white;

  @include tablet {
    padding: 5rem 1.5rem;
  }

  @include desktop {
    padding: $padding-xl;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include desktop {
      max-width: $content-container-maximum;
      margin: 0 auto;
    }
  }

  &__title {
    color: $color-white;
  }
}

.buildWorkout {
  padding: 0 $padding-small;

  @include tablet {
    padding: 0 1.5rem;
  }

  @include desktop {
    padding: 0 $padding-xl;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    @include tablet {
      gap: 5rem;
    }

    @include desktop {
      gap: 6rem;
      max-width: $content-container-maximum;
      margin: 0 auto;
    }
  }
}

.content {
  margin-bottom: 1rem;
}

.instructions,
.equipments {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;

  @include tablet {
    gap: 6.5rem;
  }
}

.elementCards {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @include tablet {
    gap: 5.5rem;
  }

  @include tablet {
    gap: 6.5rem;
  }
}

.equipment {
  background-color: $color-red;
  color: $color-white;
  padding: 4rem $padding-small;

  @include tablet {
    padding: 5rem 1.5rem;
  }

  @include desktop {
    padding: $padding-xl;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include desktop {
      max-width: $content-container-maximum;
      margin: 0 auto;
    }
  }

  &__title {
    color: $color-white;
  }

  &__button {
    margin-top: 1.25rem;

    @include tablet {
      margin-top: 2rem;
    }
  }
}

.equipments {
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
