@use 'styles/partials/variables' as *;

.slogan {
  background: url(/assets/images/dumbbell.png);
  height: 100vh;
  min-height: 25.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  font-size: 5.5rem;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  &__message {
    width: max-content;
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);

    &--bottom {
      animation-direction: reverse;
    }
  }

  @keyframes adjust-position {
    /* Start position: shift entire row left, but not so that it goes out of view */
    from {
      transform: translateX(calc(-100% + 100vw));
    }

    /* End position: shift entire row right, but not so that it goes out of view */
    to {
      transform: translateX(calc(100% - 100vw));
    }
  }
}
