@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.container {
  @include desktop {
    margin-top: 5rem;
  }
}

.hero {
  background: linear-gradient(360deg, #cc1e19 0%, #991613 100%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: $color-white;
  position: relative;

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    border-radius: 0.75rem;
    position: fixed;
    top: 5rem;
    left: 10rem;
    bottom: 0;
    min-height: max-content;
    width: 22.5rem;
  }

  &__button {
    border: none;
    background-color: transparent;
    font-family: $font-primary;
    width: max-content;
    cursor: pointer;
    font-size: 1rem;

    &--begin {
      background-color: $color-white;
      color: $color-red;
      border-radius: 0.75rem;
      padding: 0.375rem 0.625rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: unset;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 12.9px 0px $color-white;
      }

      @include tablet {
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
      }
    }

    &--back {
      padding: 1rem;
      margin: -1rem;
      @include desktop {
        display: none;
      }
    }

    &--desktop {
      gap: 0.5rem;
      align-items: center;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      margin-bottom: 1.5rem;
      display: none;

      @include desktop {
        display: flex;
        position: absolute;
        top: -4rem;
        left: 0;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        opacity: 0;
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
      }

      &::before {
        content: "[";
        left: -5px;
        top: 1.0625rem;
        transform: translateY(-50%);
      }

      &::after {
        content: "]";
        right: -5px;
        top: 1.0625rem;
        transform: translateY(-50%);
      }

      &:hover::before,
      &:hover::after {
        opacity: 1;
        transform: translateY(-50%) scale(1.1);
      }
    }

    &--bookmark {
      min-width: 2.1875rem;
      min-height: 2.1875rem;
      margin-top: -5px;
      margin-right: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba($color-white, 0.2);
      }
    }
  }
  &__image {
    height: auto;
    align-self: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -1rem;

    @include desktop {
      gap: 1rem;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: $font-weight-extrabold;
    text-transform: capitalize;
  }

  &__subTitle {
    font-weight: $font-weight-regular;
    font-size: 1.125rem;
  }

  &__element {
    align-self: center;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    transition: all 0.3s ease-in-out;

    &--save {
      width: 1.5rem;
      height: 1.5rem;
    }

    @include tablet {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__info {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    font-weight: 600;

    @include tablet {
      .hero__icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__message {
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: -1rem;
  }

  &__title {
    font-weight: 700;
  }
}

.videos {
  padding-bottom: 1rem;

  @include desktop {
    width: 100%;
    padding: 0 1rem 1.5rem 33.5rem;
  }
}

.list {
  padding: 0 0 4.375rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include tablet {
    gap: 1.5rem;
    padding-bottom: 4.875rem;
  }

  @include desktop {
    padding: 0;
  }
}

.loading {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    height: 50vh;
    margin-left: 30vw;
  }

  .spinner {
    width: 2.25rem;
    height: 2.25rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
}
