@use "@/styles/partials/_variables" as *;

.accordion {
  width: 802px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  overflow: hidden;
  margin: 16px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  cursor: pointer;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  border: 2px solid #1e1e1e;
  border-radius: 50%;
  color: #1e1e1e;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 0 24px;
}

.open {
  max-height: 200px;
  opacity: 1;
  padding: 0 24px 40px 24px;
}
