@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/mixins" as *;

.header {
	background-color: $color-red;
	color: $color-white;
	padding: 2.75rem 1rem 2rem;

	@include tablet {
		padding: 6.25rem 1.5rem 3.625rem;
	}

	@include desktop {
		padding: 6.4375rem 8.0625rem 3.5rem;
	}

	.wrapper {
		margin: 0 auto;
		max-width: $content-container-maximum;
	}

	&__title {
		font-family: "Anta";
		font-weight: 400;
		font-size: 3rem;
		text-transform: uppercase;

		@include tablet {
			font-size: 6rem;
		}
	}

	&__subHeading {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 1.5rem;
		text-transform: capitalize;

		@include tablet {
			font-size: 2rem;
		}
	}
}
