@use "@/styles/partials/variables" as *;

.tab-container {
	padding: 0 $padding-small;
	border-bottom: 1px solid $color-black;
	//position: sticky;
}

.tabContent {
	list-style: none;
	display: flex;
	gap: 1rem;
	text-transform: capitalize;
	font-size: 0.75rem;
}

.tab {
	padding: 0.5rem;
	min-width: max-content;
	border-bottom: 2px solid $color-white;
	cursor: pointer;

	&:focus {
		font-weight: 600;
	}

	&--selected {
		font-weight: 600;
		border-color: $color-black;
	}
}

.content {
	margin-bottom: 3.75rem;
}
