@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;
@use "@/styles/partials/_fonts" as *;

.loginContainer {
  // border-top: 3px solid yellow;
  // padding-top: 56px;
  background: $color-red;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem; // compensate for header
  min-height: 100vh;

  @include tablet {
    flex-direction: row;
  }
}

// ✅ Left panel with login information
.panelLeft {
  width: 100%;
  // height: fit-content;
  // background: rgba(255, 0, 0, 0.2) url("/assets/images/large-S.png");
  // background-size: calc(100% - 2rem) auto;
  // background-position: center;
  // background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  // padding: $padding-medium;
  // gap: $padding-medium;

  @include tablet {
    // max-width: 472px;
    width: 40%;
    // height: 100vh;
    justify-content: left;
    // display: block;
    padding: 0;
  }

  @include desktop {
    width: 50%;
  }

  &__navHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: $padding-medium;
    padding: 3.5rem 1.6875rem 0 1rem;
    @include tablet {
      flex-direction: column;
      padding: 0;
    }
  }

  &__backLink {
    // margin-top: 3rem;
    display: flex;
    align-content: center;
    align-self: flex-start;
    // @extend .link;
    // margin-bottom: $padding-small;
    @include tablet {
      margin-left: 1rem;
      margin-top: 3.5rem;
    }
    img {
      margin-right: 0.5rem;
      filter: brightness(0) invert(1); // Makes the arrow white on hover
    }
    span {
      color: $color-white;
    }
  }

  .backLink:hover {
    opacity: 0.6;
  }

  &__img {
    width: 2rem;
    height: auto;
    @include tablet {
      width: 100%;
      height: 100vh;
    }
    @include desktop {
      max-width: 30.625rem;
    }
  }

  .title {
    display: none;
    color: $color-white;
    @extend .h2-title;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  .subtitle {
    color: #000;
    text-align: center;
    @extend .body1;
    text-align: center;
    margin-top: $padding-small;
  }
}

// ✅ Right panel for the login form
.panelRight {
  width: 100%;
  padding: $padding-medium 6%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  @include tablet {
    width: 60%;
  }

  @include desktop {
    width: 100%;
    max-width: 60.5rem;
    padding: 0 $padding-xl;
  }

  &__wrap {
    background: $color-white;
    border-radius: 2.1875rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
    display: flex;
    justify-self: center;
    width: 100%;
    @include desktop {
      max-width: 37rem;
    }
  }

  &__subtitle {
    color: #000;
    text-align: center;
    font-size: 1rem;
  }

  &__signupLink {
    margin-top: -1.5rem;
    font-weight: $font-weight-extrabold;
    text-decoration: none;
    color: $link-hover-color;
    &:hover {
      text-decoration: underline !important;
      text-decoration-color: $color-red !important;
    }
  }
}

// ✅ Login form styling
.loginForm {
  width: 100%;
  // max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $padding-medium;

  .heading {
    padding: 2rem 0;
    padding-bottom: 0;
    font-weight: 500;
    @extend .h2-title;
    text-align: center;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    height: 6.5rem;
    position: relative;

    @include desktop {
      width: 100%;
    }

    label {
      font-weight: $font-weight-regular;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: $color-black;
      width: 100%;
    }

    input {
      width: 100%;
      height: 4.5rem;
      background: $color-grey-light;
      border-radius: 1.125rem;
      border: none;
      padding: 0.75rem;
      font-size: 1rem;
      font-family: $font-primary;
      outline: none;
      transition: all 0.3s ease-in-out;

      &:focus {
        border: 2px solid $color-black;
      }

      @include desktop {
        width: 100%;
      }
    }

    .errorMessage {
      // position: absolute;
      // bottom: -1.5rem;
      // left: 0;
      font-size: 0.875rem;
      // font-weight: $font-weight-medium;
      // color: $color-red;
      padding-right: 0.5rem;
    }

    .pwErrorMessage {
      // margin-top: 1rem !important;
      position: unset;
    }
  }

  .optionsGroup {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
    color: $color-black;

    .checkboxContainer {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input {
        width: 1rem;
        height: 1rem;
      }
    }

    &__forgotPassword {
      text-decoration: none;
      color: $link-hover-color;
      font-weight: $font-weight-medium;
      font-size: 80%;
      &:hover {
        text-decoration: underline !important;
        text-decoration-color: $link-hover-color !important;
      }
    }
  }

  .message {
    text-align: center;
    @extend .body2;
    color: $color-red;
  }
}
