@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;
@use "@/styles/partials/_fonts" as *;

.loginContainer {
  background: $color-red;
  color: $color-white;
  margin-top: 4rem; // compensate for header
  padding: 1.875rem 1rem;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;

  @include tablet {
    padding: 3rem 1.5rem;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    @include tablet {
      flex-direction: row;
      gap: 3rem;
    }

    @include desktop {
      max-width: $content-container-maximum;
      margin: 0 auto;
    }
  }
}

// ✅ Left panel with login information
.panelLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
    max-height: 55rem;
  }

  &__backLink {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    margin-left: 0.625rem;

    @include tablet {
      font-size: 1.25rem;
    }

    img {
      filter: brightness(0) invert(1);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      font-size: 1.7rem;
      font-weight: 400;
      opacity: 0;
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;

      @include tablet {
        font-size: 2rem;
      }
    }

    &::before {
      content: "[";
      left: -0.875rem;
      top: 0.6563rem;
      transform: translateY(-50%);
    }

    &::after {
      content: "]";
      right: -0.875rem;
      top: 0.6563rem;
      transform: translateY(-50%);
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
      transform: translateY(-50%) scale(1.1);
    }
  }

  &__img {
    width: 3rem;
    height: auto;

    @include tablet {
      width: 100%;
      max-width: 35.625rem;
    }
  }
}

// ✅ Right panel for the login form
.panelRight {
  border-radius: 2.1875rem;
  background: $color-white;
  box-shadow: 0px 4px 1.0875rem 0px rgba($color-black, 0.25);
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: $color-black;
  transition: all 0.3s ease-in-out;
  max-width: 40.125rem;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    padding: 3.5rem 2rem;
    gap: 4.5rem;
    flex-grow: 1;
    height: max-content;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  &__subtitle {
    font-size: 1rem;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__signupLink {
    font-weight: $font-weight-extrabold !important;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

// ✅ Login form styling
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 30.25rem;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    gap: 3.5rem;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    font-size: 1rem;

    @include tablet {
      gap: 2rem;
    }
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;

    label {
      font-weight: $font-weight-regular;
      line-height: 1.5rem;
      color: $color-black;
      text-transform: capitalize;
    }

    input {
      height: 2.8125rem;
      border-radius: 1rem;
      background-color: #f5f5f5;
      border: 0.5px solid #a8a8a8;
      font-family: $font-primary;
      padding: 0.5rem 1rem;
      font-size: 1rem;

      &:active,
      &:focus {
        outline: 1px solid $color-black;
      }

      &.error {
        border: 1px solid $color-red;
        outline: 1px solid $color-red;
      }
    }

    .errorMessage {
      position: absolute;
      bottom: -1.125rem;
      color: $color-red;
      font-size: 0.75rem;

      @include tablet {
        font-size: 0.875rem;
        bottom: -1.5rem;
      }
    }
    .pwErrorMessage {
      bottom: 0;
      top: 5rem;

      @include tablet {
        top: 5.3125rem;
      }
    }

    .forgotPassword {
      align-self: flex-end;
      font-weight: $font-weight-medium;
      font-size: 0.875rem;
      margin-top: 0.5rem;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .button {
    span {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      text-transform: capitalize;
    }

    .icon {
      filter: invert(1);
    }

    &__buttonText {
      color: $color-white;
      font-weight: 600;
    }
  }
}
