@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.dialog {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;

	@include tablet {
		position: unset;
	}
}

.container {
	background-color: $color-white;
	border-radius: 0.625rem 0.625rem 0 0;
	padding: 1rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.875rem;

	@include tablet {
		border-radius: 0.625rem;
	}
}

.button {
	font-family: $font-primary;
	background-color: $color-white;
	border: 1px solid $color-black;
	border-radius: 2.1875rem;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	color: $color-black;
	font-weight: 400;

	&:hover {
		background-color: #d9d9d9;
	}

	@include tablet {
		font-size: 1.125rem;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include tablet {
		gap: 5.875rem;
	}

	&__title {
		font-size: 1.5rem;

		@include tablet {
			font-size: 2rem;
		}
	}

	&__button {
		border: none;
		padding: 0;

		&:hover {
			background-color: unset;
		}
	}
	&__icon {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;

	&__input-container {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__label {
		text-transform: capitalize;
		font-size: 1rem;

		@include tablet {
			font-size: 1.125rem;
		}

		.optional {
			color: #757575;
			font-size: 0.75rem;
		}
	}

	&__input {
		height: 2.8125rem;
		border-radius: 1rem;
		background-color: #f5f5f5;
		border: 0.5px solid #757575;
		font-family: $font-primary;
		padding: 0.5rem 1rem;
		font-size: 1rem;

		&--text {
			height: 5.625rem;
			resize: none;
			line-height: 1.25rem;
		}
	}
}
