@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.card {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include tablet {
    padding: 0;
  }

  &__image-container {
    display: none;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: -0.5rem;
    border-radius: 0.75rem;
    background-color: rgba($color-black, 0.05);

    @include tablet {
      display: unset;
    }
  }

  &__image {
    border-radius: 0.75rem;
    border: 0.5px solid #a8a8a8;
  }

  &__headerContainer {
    display: flex;
    justify-content: space-between;

    @include tablet {
      position: relative;
      gap: 0.5rem;
    }

    .button {
      height: max-content;
      border: none;
      background-color: $color-white;
      cursor: pointer;
      min-width: 1.875rem;
      min-height: 1.875rem;
      margin-top: -5px;
      margin-right: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba($color-black, 0.1);
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
    color: $color-red;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    margin-top: 0.5rem;

    @include tablet {
      display: none;
    }
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;

    &--menu {
      width: 1.25rem;
      height: 1.25rem;
    }

    @include tablet {
      width: 1.5rem;
      height: 1.5rem;
    }

    &--go {
      @include tablet {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;

    .info {
      display: flex;
      gap: 1rem;
      color: #757575;
      transition: all 0.3s ease-in-out;

      @include tablet {
        gap: 0.5rem;

        .card__icon {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .button {
      padding: 0.25rem 1rem;
      border-radius: 2.1875rem;
      border: 1px solid $color-black;
      background-color: $color-white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $color-red;
        border-color: $color-red;

        .card__icon {
          filter: invert(1);
        }
      }
    }
  }

  &__message {
    display: flex;
    align-items: center;
  }
}
