@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.container {
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: center;
	margin-top: 4rem;

	@include mobile {
		max-width: 100vw;
	}

	@include tablet {
		max-width: 100vw;
	}

	@include desktop {
		max-width: $content-container-maximum;
		margin: 0 auto;
	}
}
