@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.footer {
  background-color: $color-black;
  color: $color-white;
  padding: 1rem;
  transition: all 0.3s ease-in-out;

  @include tablet {
    padding: 1rem 1.5rem;
  }

  @include desktop {
    padding: 1.5rem 2.5rem;
    position: relative;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include tablet {
    gap: 2rem;
  }

  @include desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: $content-container-maximum;
    margin: 0 auto;
  }
}

.logo-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    z-index: 2;
    flex-direction: row;
    gap: 1.5rem;
  }

  a {
    padding: 5.5px 0;

    @include desktop {
      padding: 0;
    }
  }
}

.logo {
  width: 5.25rem;
  height: auto;
  transition: all 0.3s ease-in-out;

  @include tablet {
    width: 8.125rem;
  }
}

.socials {
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid $color-white;
    border-radius: 50%;
  }

  &__link {
    @include desktop {
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__icon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}

.nav {
  @include desktop {
    z-index: 2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-transform: capitalize;

    @include tablet {
      gap: 1rem;
    }

    @include desktop {
      flex-direction: row;
      gap: 0;
    }
  }

  &__item {
    padding: 0.85rem 0;

    @include desktop {
      border-right: 1px solid $color-white;
      padding: 0.5938rem 0.75rem;

      &:last-child {
        border: none;
        padding-right: 0;
      }
    }
  }

  #nav__links {
    a {
      font-size: 0.875rem;
      padding: 0.85rem 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-red;
      }

      @include tablet {
        font-size: 1rem;
      }
    }
  }
}

.copyright {
  font-size: 0.625rem;
  transition: all 0.3s ease-in-out;

  @include tablet {
    align-self: center;
    font-size: 0.75rem;
  }
}
