@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.list {
	list-style-type: none;
	display: flex;
	gap: 0.5rem;
	padding-top: 1.5rem;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	@include desktop {
		padding-top: 2rem;
	}
}

.item {
	font-size: 0.875rem;
	text-transform: capitalize;
	padding: 0.25rem 0.5rem;
	border: 1px solid $color-black;
	border-radius: 1rem;
	min-width: max-content;
	cursor: pointer;

	@include tablet {
		padding: 0.375rem 0.625rem;

		&:hover {
			border-color: $color-red;
			color: $color-red;
		}
	}

	&--selected {
		border-color: $color-red;
		font-weight: $font-weight-extrabold;
		background-color: $color-red;
		color: $color-white;
	}
}
