@use "styles/partials/variables" as *;

.getStarted {
	background-color: $color-red;
	text-align: center;
	margin: 3.125rem 0;
	box-shadow: 0px 9px 18.8px rgba($color-black, 0.59);
	padding: 6.875rem 0;

	&__mainTitle {
		color: $color-white;
		text-transform: capitalize;
	}

	&__subHeading {
		color: $color-white;
	}

	&__pricePlans {
		margin-top: 3.75rem;
		display: flex;
		justify-content: center;
		gap: 4.75rem;
	}
}
