@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/mixins" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include tablet {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  &__content {
    @include tablet {
      width: 40%;
    }
  }

  &__title {
    font-size: 1rem;
    color: $color-red;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease-in-out;

    @include tablet {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  &__subHeading {
    font-weight: $font-weight-regular;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    transition: all 0.3s ease-in-out;

    @include tablet {
      font-size: 2rem;
      margin-bottom: 1.25rem;
    }

    @include desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__gif {
    border: 4px solid $color-red;
    border-radius: 0.75rem;
    width: 100%;
    height: auto;

    @include tablet {
      width: 60%;
      flex-grow: 1;
    }
  }
}
