@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.about {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 6rem $padding-large;
	flex-direction: column-reverse;
	align-items: center;

	@include tablet {
		padding: 6rem $padding-small 0;
		align-items: center;
	}

	// custom breakpoing to this UI component
	@media screen and (min-width: 1024px) {
		flex-direction: row;
		padding: 0 6rem;
		height: 70vh;
		gap: 3rem;
	}

	@include desktop {
		padding: 0 8%;
		gap: 1rem;
		height: 80vh;
	}

	&__imageContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: $padding-large;
		max-width: 350px;
		margin-top: 2rem;

		@include tablet {
			margin-top: 0;
			width: 60%;
			max-width: 500px;
			margin: -25px;
			z-index: -2;
		}

		@media screen and (min-width: 1024px) {
			max-width: 800px;
			align-self: flex-end;
		}
	}

	&__imageWrap {
		background-color: #dbdbdb;
		border: 2px solid lightgray;
		border-radius: 2.1875rem;
		padding: 0 1rem 0 0;
		@include tablet {
			background-color: unset;
			border: unset;
		}
	}

	&__image {
		max-width: 100%;
		height: auto;
		border-radius: $radius-1;
		position: relative;
		bottom: -5px;
	}

	&__mobileButton {
		display: none; // Hidden by default
		display: flex;
		justify-content: center;
		margin-top: 1rem; // Space between image and button
		@include tablet {
			display: none; // Hide on tablet and desktop
		}
	}

	&__textContainer {
		align-self: center;
		display: flex;
		flex-direction: column;
		gap: 4.5rem;
		gap: 0;

		@include tablet {
			gap: 0;
			width: 50%;
		}

		@include desktop {
			max-width: 500px;
		}
		@include mobile {
			width: 100%;
		}

		h3 {
			@media screen and (min-width: 1024px) {
				padding-bottom: 1rem;
			}
		}
	}

	&__info {
		padding-left: 2.5rem;
		padding-left: 0;
		text-align: left;

		@include tablet {
			padding-left: 0;
		}
	}

	&__subHeading {
		text-transform: capitalize;
		margin-bottom: 0;
	}

	&__desktopButton {
		justify-content: flex-start;
		margin-top: $padding-medium;
		display: none; // Hide on mobile to prevent duplication
		@include tablet {
			display: flex;
			margin-bottom: 5rem;
		}
		@media screen and (min-width: 1024px) {
			margin-bottom: 0;
		}
	}
}
