@use "@/styles/partials/_variables" as *;
@use "@/styles/partials/_mixins" as *;

.hero {
	position: relative;
	width: 100%;

	background-image: url("/assets/images/hero-background.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	height: calc(100vh - 4rem); //minus height of header (64px)
	display: flex;
	align-items: center; // Ensures text stays visible within the image
	justify-content: center;
	padding: 16px;

	@include desktop {
		height: 52.375rem;
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

	&__overlay {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto; // Allow flexible height adjustment
		gap: $padding-xl;
		width: 100%;

		@include mobile {
			position: relative; // Prevent absolute positioning on mobile
			top: unset;
			left: unset;
			transform: none;
			gap: $padding-large;
		}

		img {
			@include mobile {
				max-width: 100px;
				height: auto;
			}
		}
	}

	&__title {
		color: $color-red;
	}
}
