@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.card {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	@include tablet {
		gap: 0.5rem;
	}

	&.row {
		flex-direction: row;
		gap: 0.5rem;
		padding: 0.5rem 1rem;
		border-radius: 1rem;

		&.player {
			padding: 0.5rem;

			@include desktop {
				border-radius: 0;
			}
		}

		@include tablet {
			padding: 0.5rem 1.5rem;
			gap: 1rem;
		}

		&:hover {
			background-color: rgba(#e2211c, 0.1);
		}
	}

	&__thumbnail-container {
		width: 10rem;
		aspect-ratio: 16 / 9;
		background-color: rgba($color-black, 0.05);
		border-radius: 0.625rem;
		position: relative;
		transition: all 0.3s ease-in-out;

		@include tablet {
			width: 13.5rem;
		}

		@include desktop {
			width: 18.75rem;

			&.row {
				width: 13.5rem;
			}

			&.player {
				width: 10rem;
			}
		}
	}
}

.thumbnail {
	border-radius: 0.625rem;
	border: 0.5px solid #dbdbdb;
}

.duration {
	position: absolute;
	bottom: 0.3125rem;
	right: 0.3125rem;
	font-size: 0.75rem;
	background-color: rgba($color-black, 0.6);
	border-radius: 0.25rem;
	padding: 2px 4px;
	color: $color-white;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex: 1;
	gap: 0.25rem;

	@include tablet {
		gap: 0.5rem;
	}

	&.row {
		align-items: center;
	}
}

.title {
	font-size: 0.75rem;
	font-weight: $font-weight-regular;
	text-transform: capitalize;

	@include tablet {
		font-size: 1rem;
	}

	@include desktop {
		&.player {
			font-size: 0.75rem;
		}
	}
}

.menuButton {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.icon {
	width: 1rem;
	height: 1rem;

	@include tablet {
		width: 1.5rem;
		height: 1.5rem;
	}

	@include desktop {
		&.player {
			width: 1rem;
			height: 1rem;
		}
	}
}
